@charset "UTF-8";
/* 前ページ共通のスタイルを定義 */

/* 基本的な配色 */
.green-text {
	color: #728143;
}

.black-text {
	color: #030507;
}

.white-text {
	color: #fbfff7;
}

.green-bg {
	background-color: #728143;
}

.black-bg {
	background-color: #030507;
}

.white-bg {
	background-color: #fbfff7;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
	min-width: 375px;
	margin: 0;
	padding: 0;
	background-color: #fbfff7;
	color: #728143;
}

header {
	width: 95%;
	margin: 0 auto;
	padding-bottom: 25px;
}

#logo {
	margin-bottom: 25px;
	padding-top: 20px;
	text-align: left;
}

h2 {
	font-size: 24px;
	padding-bottom: 12px;
}

ul {
	display: flex;
	align-items: center;
}

li:nth-child(even) {
	padding-left: 50px;
}

.user-info {
	font-size: 18px;
	height: 30px;
	display: inline-block;
	padding-right: 8px;
}


.logout-button {
	background-color: #728143;
	color: #fbfff7;
	width: 104px;
	padding: 6px 12px;
	border-radius: 12px;
	cursor: pointer;
}

main {
	width: 95%;
	margin: 0 auto 25px;
}

section {
	margin-bottom: 25px;
}

.page-transition {
	font-size: 16px;
	padding: 12px 20px;
	background-color: #728143;
	color: #fbfff7;
	border-radius: 12px;
	border: 1px solid #728143;
	text-decoration: none;
}

#pagenation-list {
	display: block;
	text-align: center;
	margin: 5px auto;
}

#pagenation-list li {
	padding: 0 0.1em;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

#copyright {
	text-align: center;
	font-size: 12px;
}

.search-form {
	padding-bottom: 15px;
}
.search-box {
	width: 50%;
}
.search-button {
	background: #728143;
  border-radius: 12px;
  border: 1px solid #728143;
  font-size: 16px;
  padding: 9px 20px;
  color: #fbfff7;
  text-align: center;
  cursor: pointer;
  margin: 0;
}

table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	border-bottom: solid 1px#728143;
}

thead {
	background-color: #728143;
	color: #fbfff7;
}

th,
td {

	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #e2e8cf;
}

#postTextarea {
	width: 300px;
	height: 100px;
	resize: none;
}