<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>管理者ページ</title>

	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>

	<header>
		<h1 id="logo">
			<a>
				<img th:src="@{/images/logo-management.png}" height="70">
			</a>
		</h1>
		<ul>
			<li>
				<h2>現在のログインユーザ</h2>
				<div id="login-userid" class="user-info" th:text="'UserID  ：'+${loginUser.userid}"></div>
				<div id="login-username" class="user-info" th:text="'UserName：'+${loginUser.username}"></div>
			</li>
			<li>
				<form th:action="@{/logout}" method="post">
					<button class="logout-button">ログアウト</button>
				</form>
			</li>
		</ul>

	</header>

	<main>
		<section>
			<a class="page-transition" th:href="@{/board}">通常の掲示板へ</a>
			<a class="page-transition" th:href="@{/management/user}">ユーザ管理</a>
		</section>

		<section>
			<h2>コメント一覧</h2>
			<form class="search-form" method="get" th:action="@{/management/comment}">
				<label>ユーザID検索(文字列を含むもの)</label><br>
				<input class="search-box" type="text" name="userid" placeholder="ここに入力"
					th:value="${userid}"/>
				<button class="search-button" type="submit">絞り込み</button>
				<a class="page-transition" th:href="@{/management/comment}">全件表示</a>
			</form>
			<table>
				<thead>
					<tr>
						<th>PostDate</th>
						<th>UserId</th>
						<th>Content</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="comment : ${comments}">
						<form th:action="@{/deleteComment}" method="post">
							<input type="hidden" th:value="${comment.id}" name="id" />
							<td th:text="${#dates.format(comment.createdAt, 'yyyy/MM/dd HH:mm')}">PostDate</td>
							<td th:text="${comment.userid}">UserId</td>
							<td th:text="${comment.content}">Content</td>
							<td><input type="submit" value="削除" /></td>
						</form>
					</tr>
				</tbody>
			</table>
			<!-- ページネーション部分 -->
			<div>
				<ul id="pagenation-list">
					<li style="display:inline;">
						<span th:if="${page.first}">&lt;&lt;前</span>
						<a th:if="${!page.first}" th:href="@{/management/comment(page=${page.number}-1,userid=${userid})}">
							&lt;&lt;前
						</a>
					</li>
					<li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
						style="display:inline; margin-left:10px;">
						<span th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
						<a th:if="${i} != ${page.number}" th:href="@{/management/comment(page=${i},userid=${userid})}">
							<span th:text="${i+1}">1</span>
						</a>
					</li>
					<li style="display:inline; margin-left:10px;">
						<span th:if="${page.last}">次&gt;&gt;</span>
						<a th:if="${!page.last}" th:href="@{/management/comment(page=${page.number}+1,userid=${userid})}">
							次&gt;&gt;
						</a>
					</li>
				</ul>
			</div>
		</section>

	</main>


	<footer class="green-bg white-text">
		<p id="copyright">©K.Yama4ta</p>
	</footer>


</body>

</html>