<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録</title>
	
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
	<main class="main">
		<form class="form" th:action="@{/user/registration}" th:object="${form}" method="post">
			<h1 class="form_title">新規登録</h1>
			<p th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}" class="error-message"></p>
			<p class="form_item">
				<label for="userid">UserID</label>
				<span th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}" class="error-message"></span>
				<input type="text" placeholder="ユーザIDを入力してね" name="userid" id="userid" th:field="*{userid}">
			</p>
			<p class="form_item">
				<label for="username">UserName</label>
				<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message"></span>
				<input type="text" placeholder="ユーザ名を入力してね" name="username" id="username" 	th:field="*{username}">
			</p>
			<p class="form_item">
				<label for="password">Password</label>
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></span>
				<input type="password" placeholder="パスワードを入力してね" name="password" id="password" th:field="*{password}">
			</p>
			<p class="form_item">
				<label for="password">ConfirmPassword</label>
				<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
					class="error-message"></span>
				<input type="password" placeholder="パスワード(再確認)を入力してね" name="confirmPassword" id="confirmPassword" th:field="*{confirmPassword}">
			</p>
			<p class="form_item">
				<input type="submit" value="User Registration">
			</p>
			<a th:href="@{/login}">既に登録済みの方はこちら</a>
		</form>
	</main>
</body>

</html>